// TODO: import generated/requests
// TODO: import generated/responses.{type ${FEATURE_PASCAL}, ${FEATURE_PASCAL}}

// pub type CreateAdaptor =
//   fn(${FEATURE_PASCAL}) -> Result(${FEATURE_PASCAL}, String)
//
// pub type Create =
//   fn(requests.Create${FEATURE_PASCAL}Input) -> Result(${FEATURE_PASCAL}, String)
//
// pub fn create(adaptor: CreateAdaptor) -> Create {
//   fn(input) { do_create(adaptor, input) }
// }
//
// fn do_create(
//   adaptor: CreateAdaptor,
//   input: requests.Create${FEATURE_PASCAL}Input,
// ) -> Result(${FEATURE_PASCAL}, String) {
//   todo
// }
