// TODO: import generated/responses.{type ${FEATURE_PASCAL}}
// TODO: import youid/uuid

// pub type ListAdaptor =
//   fn(Nil) -> Result(List(${FEATURE_PASCAL}), String)
//
// pub type ReadAdaptor =
//   fn(uuid.Uuid) -> Result(${FEATURE_PASCAL}, String)
//
// pub type ${FEATURE_PASCAL}List =
//   fn(Nil) -> Result(List(${FEATURE_PASCAL}), String)
//
// pub type Read${FEATURE_PASCAL} =
//   fn(uuid.Uuid) -> Result(${FEATURE_PASCAL}, String)
//
// pub fn list(adaptor: ListAdaptor) {
//   fn(input) { adaptor(input) }
// }
//
// pub fn read(adaptor: ReadAdaptor) {
//   fn(id) { adaptor(id) }
// }
