import features/${FEATURE}/application/command
import features/${FEATURE}/application/query

// TODO: pub type aliases
// pub type Create${FEATURE_PASCAL} = command.Create
// pub type CreateAdaptor = command.CreateAdaptor

// TODO: pub const aliases
// pub const create = command.create
